
<div class="container">
    <form name="changePasswordForm" novalidate="">
        <div class="form-group">
            <input type="password" [(ngModel)]="passwordData.oldPassword" class="form-control"  name="oldPassword" placeholder="Old password" id="companyName" required>
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="passwordData.newPassword" class="form-control"  name="newPassword" placeholder="New Password" id="email" required>
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="passwordData.repeatPassword" class="form-control"  name="password" placeholder="Repeat Password" id="password" required>
        </div>
        <div>
            <a class="btn btn-primary" href="javascript://" (click)="updatePassword()">Update Password</a>
        </div>
    </form>
</div>
