<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form name="changePasswordForm" (ngSubmit)="updatePassword()">
      <ion-item>
        <ion-label floating>Old password</ion-label>
        <ion-input  type="password" [(ngModel)]="passwordData.oldPassword" name="oldPassword" id="oldPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" [(ngModel)]="passwordData.newPassword" name="newPassword" id="newPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Repeat Password</ion-label>
        <ion-input type="password" [(ngModel)]="passwordData.repeatPassword" name="repeatPassword" id="repeatPassword" required></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit">Change Password</button>
      </div>
    </form>
  </ion-list>
</ion-content>
