<ion-header>
  <ion-navbar>
    <ion-title>Create Company</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="signUpData.email"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="signUpData.password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Repeat Password</ion-label>
      <ion-input type="password" [(ngModel)]="signUpData.repeatPassword" required></ion-input>
    </ion-item>

    <div padding>
      <button ion-button color="primary" block (click)="signUp()">Sign up</button>
    </div>

  </ion-list>


</ion-content>
