<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isEdit">Add worker</ion-title>
    <ion-title *ngIf="isEdit">Edit worker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form name="addWorkerForm" *ngIf="workerInfo">
      <ion-item>
        <ion-thumbnail item-left>
          <img class="worker-img" [src]="workerInfo.avatar?.imageThumbUrl || uploadService.default_image" (error)="uploadService.updateUrl(workerInfo.avatar)"  />
        </ion-thumbnail>
        <div class="fileUpload btn btn-primary">
          <span>Upload</span>
          <input  type="file" class="upload" (change)="onFileChange($event)" ng2FileSelect [uploader]="uploader">
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input  type="text" [(ngModel)]="workerInfo.name" name="name" id="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.surname" name="surname" id="surname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.email" name="email" id="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Position</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.position" name="position" id="position" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Project</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.project" name="project" id="project" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Skype</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.skype" name="skype" id="skype" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.phone" name="phone" id="phone" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>bDay</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.bDay" name="bDay" id="bDay" ></ion-input>
      </ion-item>
      <div padding>
        <button *ngIf="!isEdit" ion-button color="primary" block type="button" (click)="sendUser()">Add Worker</button>
        <button *ngIf="isEdit" ion-button color="primary" block type="button" (click)="updateWorker()">Edit Worker</button>
      </div>
    </form>
  </ion-list>
</ion-content>

