<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isEdit">Add worker</ion-title>
    <ion-title *ngIf="isEdit">Edit worker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form novalidate #test="ngForm" *ngIf="workerInfo">
      <ion-item>
        <ion-thumbnail item-left>
          <img class="worker-img" [src]="workerInfo.avatar?.imageThumbUrl || imgService?.default_image" (error)="imgService?.updateUrl(workerInfo.avatar)"  />
        </ion-thumbnail>
        <button ion-button class="fileUpload btn btn-primary">
          <span>Upload</span>
          <input  type="file" class="upload" (change)="onFileChange($event)" ng2FileSelect [uploader]="uploader">
        </button>
      </ion-item>

      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input  type="text" [(ngModel)]="workerInfo.name" name="name" id="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.surname" name="surname" id="surname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" pattern="[A-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)" [(ngModel)]="workerInfo.email" name="email" id="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Position</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.position" name="position" id="position" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Project</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.project" name="project" id="project" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Skype</ion-label>
        <ion-input type="text" [(ngModel)]="workerInfo.skype" name="skype" id="skype" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="text" pattern="[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}"  [(ngModel)]="workerInfo.phone" name="phone" id="phone" ></ion-input>
      </ion-item>
      <ion-item item-left>
        <ion-label floating>bDay</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="workerInfo.bDay" name="bDay" id="bDay" ></ion-datetime>
      </ion-item>
      <ion-item padding>
        <button *ngIf="!isEdit" ion-button color="primary" block type="button" [disabled]="test.invalid" (click)="sendUser(test)">Add Worker</button>
        <button *ngIf="isEdit" ion-button color="primary" block type="button" [disabled]="test.invalid" (click)="updateWorker(test)">Edit Worker</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
    <!---->



