
<div class="container"  >
    <div *ngIf="companyList">
        <label class="custom-control custom-radio" *ngFor="let company of companyList, let i = index" >
            <input id="radio{{i}}" name="radio" type="radio" [(ngModel)]="selectedCompany" class="custom-control-input" value="{{company.companyName}}" (click)="selectCompany(company)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{company.companyName}}</span>
        </label>
    </div>

</div>
