

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="workers">

    <ion-item >
      <button *ngIf="currentUser.role" padding ion-button color="primary" type="button" block icon-left [navPush]="addWorkerPage" [navParams]="{url : '/addWorker'}">
        <ion-icon name='people'></ion-icon>
        Add a new User
      </button>
    </ion-item>

    <ion-item *ngIf="workers && workers.length !== 0 && currentUser.role" (click)="showDeleteButton()">
      <ion-label>Show remove button </ion-label>
      <ion-toggle checked="{{canDelete}}" ></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let worker of workers">
        <worker [worker]="worker" [canDelete]="canDelete" (deleteWorker)="deleteWorker($event)" (goToWorkerDetails)="goToWorkerDetails($event)"></worker>
  </ion-list>

</ion-content>

