<div class="container">
    <div class="padding" *ngIf="currentUser.role">
        <button class="button button-block button-small button-balanced" [routerLink]="'/addWorker'" >
            Add a new User
        </button>
    </div>
    <div *ngIf="workers && workers.length !== 0">
        <div  *ngIf="currentUser.role">
            <button (click)="showDeleteButton()" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" >
                Show delete
            </button>
        </div>
    </div>

    <div *ngIf="workers">
        <div class="list-group" *ngFor="let worker of workers">
            <worker [worker]="worker" [canDelete]="canDelete" (deleteWorker)="deleteWorker($event)" (goToWorkerDetails)="goToWorkerDetails($event)"></worker>
        </div>
    </div>


</div>
<button class="button button-block button-small button-balanced" (click)="logOut()" >
    LogOut
</button>