<ion-header>
  <ion-navbar>
    <ion-title>SignIn</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <ion-list>
    <form (ngSubmit)="signIn()" novalidate #singInForm="ngForm">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input pattern="[A-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)" type="email" [(ngModel)]="signInData.email" name="email"  required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="signInData.password" name="password" required></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="singInForm.invalid">Sign in</button>
      </div>
    </form>
  </ion-list>

  <div padding>
    <button ion-button block>Forgot the password?</button>
  </div>

  <div padding>
    <button ion-button color="primary" block (click)="navOnSignUp()">Sign Up</button>
  </div>
</ion-content>
