
<ion-list>
  <div>
    <button ion-button outline icon-left [routerLink]="'/createCompany'" color="secondary">
      <ion-icon name='briefcase' is-active="false" ></ion-icon>
      Create company
    </button>
    <button ion-button outline icon-left [routerLink]="'/changePassword'" >
      <ion-icon name='briefcase' is-active="false"></ion-icon>
      Change password
    </button>
    <button ion-button outline icon-left [routerLink]="'/selectCompany'" >
      <ion-icon name='briefcase' is-active="false"></ion-icon>
      Change password
    </button>
  </div>
</ion-list>


