
<ion-content>
  <ion-list>
      <button ion-item icon-left  [navPush]="createCompanyPage">
        <ion-icon name="create" item-left></ion-icon>
        Create company
      </button>
      <button ion-item  icon-left [navPush]="selectCompanyPage">
        <ion-icon name='swap' item-left></ion-icon>
        Select company
      </button>
      <button ion-item  icon-left  [navPush]="changePasswordPage">
        <ion-icon name='key' item-left ></ion-icon>
        Change password
      </button>

    <ion-item>
      <button padding ion-button icon-left color="primary" type="button" block (click)="logOut()" >
        <ion-icon name='log-out'></ion-icon>
        Log Out
      </button>
    </ion-item>
  </ion-list>


</ion-content>



