<ion-header>
  <ion-navbar>
    <ion-title>Welcome To CoWorkersApp</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
      <button ion-button outline icon-left  color="secondary" [navPush]="createCompanyPage">
        <ion-icon name='briefcase' is-active="false" ></ion-icon>
        Create company
      </button>
      <button ion-button outline icon-left [navPush]="selectCompanyPage">
        <ion-icon name='briefcase' is-active="false" ></ion-icon>
        Change password
      </button>
      <button ion-button outline icon-left  [navPush]="changePasswordPage">
        <ion-icon name='briefcase' is-active="false" ></ion-icon>
        Change password
      </button>
  </ion-list>
</ion-content>



