<ion-header>
  <ion-navbar>
    <ion-title>Welcome To CoWorkersApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form name="createCompanyForm" (ngSubmit)="create()">
      <ion-item>
        <ion-label floating>Company Name</ion-label>
        <ion-input  type="text" [(ngModel)]="companyData.companyName" name="companyName" id="companyName" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Repeat Company Name</ion-label>
        <ion-input type="text" [(ngModel)]="companyData.companyNameRepeat" name="companyNameRepeat" id="companyNameRepeat" required></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block type="submit">Create New Company</button>
      </div>
    </form>
  </ion-list>
 </ion-content>

