
<div class="container">
    <form name="createCompanyForm" novalidate="">
        <div class="form-group">
            <input type="text" [(ngModel)]="companyData.companyName" class="form-control"  name="companyName" placeholder="Company Name" id="companyName" required>
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="companyData.companyNameRepeat" class="form-control"  name="companyNameRepeat" placeholder="Repeat Company Name" id="companyNameRepeat" required>
        </div>

    </form>
    <div>
        <a class="btn btn-primary" href="javascript://" (click)="create()">Create Company</a>
    </div>
</div>
